# This is a CODEOWNERS file.
# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# More general documentation about code owners can be found here:
# https://docs.github.com/en/enterprise-cloud@latest/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# CODEOWNERS file format: <pattern> <GitHub username(s)>

# Specify owners for all files
# *       @default-owner

# Specify owners for specific directories or files
# /docs/  @developer-hub-team
# *.js    @plateng-team
# *.py    @Engin-Senturk_adi @Dmitriy-Berkolayko_adi